{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}
{% block style %} 
    <link href="{{asset('css/showArticle.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}

<style  >
    
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <h1>Hello ! ✅</h1>

    <main>
        <div>
           
            <div class="article-title">
                <h2>
                {{article.titre }}
                </h2>
            </div>
            <div class="article-content " id="editor" data-service="{{article.contenu}}">
                <pre> 
                </pre>
            </div>
        </div>
        <section class="comment-section mt-4">
            <div class="comments_show mt-5">
                    {% if comments is defined %}
                            <ul>
                                {% for comment in comments %}
                                <li>                          
                                    {{comment.contenu}}
                                </li>
                                {% endfor %}
                            </ul>
                    {% endif %}
                </div>   
                <div class="comments_edit">
                {{ form_start(form) }}
                <div class="form-group col-md-4 cont" >
                {{ form_row(form.contenu) }}
                </div>
                {{ form_end(form) }}
            </div>   
        </section>
    </main>
    <script>
        var toolbarOptions = [
                ['bold', 'italic','underline'],
                ['link', 'blockquote', 'code-block', 'image'],
                [{ list: 'ordered' }, { list: 'bullet' }],
                [{ 'color': [] }], 
                            ];

        var quill = new Quill('#editor', {
            modules: {
                toolbar: toolbarOptions
            },
            theme: 'snow'
            });

        var form = document.querySelector('form'); 
        var cont = document.getElementById('editor').dataset.service;
        var json = '[' + cont +']';
        var content = eval(json);
        console.log([content[0] ] );
        //c = JSON.parse(content['ops']);
        quill.setContents(content[0]   );
        
    </script>

</div>
{% endblock %}
